* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --lightBlue: #d5e1fe;
  --darkGrey: #ccc;
  --darkBlue: #1f314f;
  --grey: #68778d;
}

body {
  background-color: var(--lightBlue);
  font-family: "Outfit", sans-serif, serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  background-color: var(--white);
  height: auto;
  width: 100%;
  max-width: 21.25em;
  padding: clamp(1em, 2.2vw, 1em);
  border-radius: 1em;
  box-shadow: 5px 5px 20px var(--dropshadow);
}

.qr_code {
  width: 100%;
  height: auto;
  border-radius: 1em;
  margin-block-end: min(0.8em);
}

.card_text {
  width: 100%;
}

.text_1 {
  font-size: 1.5em;
  color: var(--darkBlue);
  line-height: 120%;
  margin-block-end: min(1em);
  font-weight: bold;
}

.text_2 {
  font-size: 1.1em;
  color: var(--grey);
  line-height: 140%;
  letter-spacing: 0.05rem;
  margin-block-end: min(1.4em);
}
