/* || Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

/* Colours */

:root {
    --slate-300: #d6e2f0;
    --slate-500: #68778d;
    --slate-900: #1f3251;
}

/* || Main Styles */

/* Typography */

body {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

/* Attribution */
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Queries */
